language: java
jdk:
  - oraclejdk8
cache:
  directories:
    - $HOME/.m2
before_script:
    - cd d2g-api && mvn clean package
script:
    - cd d2g-api/d2g-webapi/target && mvn install
branches:
  only:
    -develop
    -master
